body {
  margin: 0;
  padding: 0;
  background-color: skyblue;

}

h1 {
  margin-left: 2%;
  text-align: center;
}

#main-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 7%;
}

#main-sec > * {
  width: 48%;
}

#left-art {
  border: 2px solid;
}

#left-art p {
  margin: 0;
  padding: 5px 5px;
}

#left-art :nth-child(even) {
  background-color: lightgray;
}

input {
  margin-bottom: 10px;
}

button {
  box-shadow: 1px 2px;
  float: right;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  color: white;
}

form {
  width: 185px;
}