.hello {
  color: red;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  padding-left: 4%;
}

#main-sec {
  display: flex;
  justify-content: center;
}

#out-put {
  width: 45%;
}

button {
  box-shadow: 3px 4px black;
  float: right;
}

#left-art {
  border: 2px solid;
}

#left-art p {
  margin: 0;
  padding: 5px;
}

#left-art :nth-child(even) {
  background-color: lightgray;
}

/* form {
  width: 183px;
} */

#right-art {
  width: 183px;
  margin-left: 5%;
}

input {
  margin-bottom: 10px;
}
